.cute-font-regular {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    font-family: 'Cute Font', sans-serif;
    background-color: #fbeef7;
    color: #db609e;
    text-align: center;
  }
  
  h1 {
    color: #db609e;
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #db609e;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #db609e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d05285;
  }
  